.morado{
  color:#b590ca;
}
.morado2{
  color:#6f5a7e;
}
.rojo{
  color: #b80d57;
}
.rojo2{
  color:#c81912;
}
.rosa{
  color:#e85f99;
}
.rosa2{
  color: #ff427f;
}
.verde{
  color:#21bf73;
}
.verde2{
  color:#639a67;
}
.azul{
  color: #120136;
}
.naranja{
  color: #FF8000;
}
